* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}


.container {
  width: 850px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 18px;
  padding: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

.title {
  text-align: center;
  font-size: 42px;
  color: #2563eb;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 35px;
  font-size: 17px;
}

.fileInput {
  width: 100%;
  padding: 14px;
  border: 2px dashed #94a3b8;
  border-radius: 10px;
  background: #f8fafc;
  cursor: pointer;
}

p {
  margin-top: 18px;
  color: #334155;
  font-size: 16px;
}

.btn {
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.btn:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
}

.error {
  color: #dc2626;
  margin-top: 15px;
  font-weight: bold;
}

.card {
  margin-top: 35px;
  background: #f8fafc;
  border-radius: 15px;
  padding: 30px;
  border: 1px solid #e2e8f0;
}

.card h2 {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

.card h3 {
  margin-top: 30px;
  color: #ef4444;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.scoreBox {
  background: white;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.scoreNumber {
  font-size: 30px;
  font-weight: bold;
  color: #2563eb;
  margin-bottom: 8px;
}

.scoreBox div:last-child {
  color: #64748b;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  color: #1f2937;
  padding: 18px;
  margin-bottom: 15px;
  border-left: 5px solid #ef4444;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
  line-height: 1.7;
}

@media (max-width: 900px) {
  .container {
    width: 95%;
    padding: 25px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 36px;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
